MSPGenerator-3-12/MSPGenerator/MSPGenerator/tester1/Service References/ServiceReference1/FrontEndService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:cz:justice:jsb:services:GENERATOR:FrontEndService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:justice:jsb:services:GENERATOR:FrontEndService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:cz:justice:jsb:services:GENERATOR:FrontEndService/Imports">
      <xsd:import schemaLocation="http://localhost:7919/Source/FrontEndService.svc?xsd=xsd0" namespace="urn:cz:justice:jsb:services:GENERATOR:FrontEndService" />
      <xsd:import schemaLocation="http://localhost:7919/Source/FrontEndService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7919/Source/FrontEndService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MSPGenerator" />
      <xsd:import schemaLocation="http://localhost:7919/Source/FrontEndService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FrontEndService_GetAlgorithmInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlgorithmInfo" />
  </wsdl:message>
  <wsdl:message name="FrontEndService_GetAlgorithmInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlgorithmInfoResponse" />
  </wsdl:message>
  <wsdl:message name="FrontEndService_DoSimulation_InputMessage">
    <wsdl:part name="parameters" element="tns:DoSimulation" />
  </wsdl:message>
  <wsdl:message name="FrontEndService_DoSimulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoSimulationResponse" />
  </wsdl:message>
  <wsdl:portType name="FrontEndService">
    <wsdl:operation name="GetAlgorithmInfo">
      <wsdl:input wsaw:Action="urn:cz:justice:jsb:services:GENERATOR:FrontEndService/FrontEndService/GetAlgorithmInfo" message="tns:FrontEndService_GetAlgorithmInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:cz:justice:jsb:services:GENERATOR:FrontEndService/FrontEndService/GetAlgorithmInfoResponse" message="tns:FrontEndService_GetAlgorithmInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoSimulation">
      <wsdl:input wsaw:Action="urn:cz:justice:jsb:services:GENERATOR:FrontEndService/FrontEndService/DoSimulation" message="tns:FrontEndService_DoSimulation_InputMessage" />
      <wsdl:output wsaw:Action="urn:cz:justice:jsb:services:GENERATOR:FrontEndService/FrontEndService/DoSimulationResponse" message="tns:FrontEndService_DoSimulation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>